:root {
	--theme-color: #3be41f;
	--base-color: #35c31e;
	--header-color: #000616;
	--banner-color: #35082b;
	--banner-box: #18233f;
	--amaount-color: #05ff00;
	--box-bg: #7652e1;
	--box-two: #25355c;
	--hover1: #1a2030;
	--jack-bg: #251145;
	--modal-bg: #242d04;
	--body-color: #000616;
	--custom-base: #1fa711;
	--section-bg: #231d70;
	--white-color: #fff;
	--black-theme: #151515;
	--black-color: #000000;
	--calender: #191d23;
	--ratting-color: #e4a853;
	--pragraph-color: #666666;
	--border: #35c31e;
	--border-two: #a09fc8;
	--cate-border: #e1cfb7;
	--placehol: #cccccc;
}
