/*------Footer Section Start--------*/

.footer__bottom {
	border-top: 1px solid var(--placehol);
	margin: 0 auto;

	h6 {
		font-size: 14px;
		text-align: center;
		margin: 14px;
		color: var(--white-color);
		a {
			color: var(--theme-color);
		}
	}
}
/*------Footer Section End--------*/
